# for the DR cluster
bootstrap.servers=b1.west-dr.kafka.mobile-c.com:9092,b2.west-dr.kafka.mobile-c.com:9092,b3.west-dr.kafka.mobile-c.com:9092

# security credentials for DR cluster
security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='Z26QRTFTX4YGMSLR' password='GvhCoJsIQLMs2t21f33G7XoBprYI/V1xUIjYKCIIR4Vou7h3xFPmcWYI75m3GkPM';


# set the link mode to BIDIRECTIONAL to enable "failback" features
link.mode=BIDIRECTIONAL


# automatically create mirror topics (in case we create any while failed over)
auto.create.mirror.topics.enable=true

# sync consumer offsets
consumer.offset.sync.enable=true

consumer.offset.sync.ms=1000
# ^ optional, lowering timeout for demo purposes
