# for the primary cluster
bootstrap.servers=localhost:9192

# set the link mode to BIDIRECTIONAL to enable "failback" features
link.mode=BIDIRECTIONAL


# mirror all topics (so we don't have to create them by hand)
auto.create.mirror.topics.enable=true

# sync all consumer offsets
consumer.offset.sync.enable=true

consumer.offset.sync.ms=1000
# ^ optional, lowering timeout for demo purposes

