# for the DR cluster
bootstrap.servers=localhost:9292

# set the link mode to BIDIRECTIONAL to enable "failback" features
link.mode=BIDIRECTIONAL


# automatically create mirror topics (in case we create any while failed over)
auto.create.mirror.topics.enable=true

# sync consumer offsets
consumer.offset.sync.enable=true

consumer.offset.sync.ms=1000
# ^ optional, lowering timeout for demo purposes
